on:
  pull_request:
  merge_group:
  workflow_dispatch:

name: cortex-m CI

jobs:
  ci-linux:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental || false }}
    strategy:
      matrix:
        # All generated code should be running on stable now
        rust: [stable]

        include:
          # Test MSRV
          - rust: 1.61.0

          # Test nightly but don't fail
          - rust: nightly
            experimental: true
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Run tests
        if: ${{ matrix.rust != '1.61.0' }}
        run: cargo test --all --exclude cortex-m-rt --exclude testsuite --features cortex-m/critical-section-single-core
      - name: Run tests for 1.61.0 (need to exclude cortex-m-pac)
        if: ${{ matrix.rust == '1.61.0' }}
        run: cargo test --all --exclude cortex-m-rt --exclude testsuite --exclude cortex-m-pac --features cortex-m/critical-section-single-core
